In [1]:
import pandas as pd
from tqdm import tqdm
import numpy as np
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.preprocessing.sequence import pad_sequences
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import f1_score
import re

In [2]:
# 파일을 읽어옵니다.
file_path = '../train_data/train_sequence.csv'
df = pd.read_csv(file_path)

In [8]:
df.head()

,SUBCLASS,BRCA1,HMGB3,PLXNB2,NOTCH2,RYR2,BTG1,SMC1A,PIM1,FBXW7,...,DCC,PEX6,B2M,MYLK,BTG2,CACNA1B,PABPC1,FGFR3,CLIP2,CDH1
0,KIPAN,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1,SARC,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2,SKCM,WT,WT,WT,MPALRPALLWALLALWLCCAAPAHALQCRDGYEPCVNEGMCVTYHN...,WT,WT,WT,WT,WT,...,WT,MALAVLRVLEPFPTETPPLAVLLPPGGPWPAAELGLVLALRPAGES...,WT,MGDVKLVASSHISKTSLSVDPSRVDSMPLTEAPAFILPPRNLCIKE...,WT,WT,WT,WT,WT,WT
3,KIRC,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4,GBMLGG,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [12]:
# 각 행에서 'WT'를 제거하고 남은 값들을 리스트로 만듭니다.
df_filtered_lists = df.iloc[:,1:].apply(lambda row: row[row != 'WT'].tolist(), axis=1)

# 결과를 새로운 데이터프레임으로 저장합니다.
df_sequence = pd.DataFrame(df_filtered_lists, columns=['Filtered_List'])

# 결과를 확인합니다.
print(df_sequence.head())

                                       Filtered_List
0  [MFKKLKQKISEEQQQLQQALAPAQASSNSSTPTRMRSRTSSFTEQ...
1  [MTAEPMSESKLNTLVQKLHDFLAHSSEESEETSSPPRLAMNQNTD...
2  [MPALRPALLWALLALWLCCAAPAHALQCRDGYEPCVNEGMCVTYH...
3  [MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFE...
4  [MEEPQSDPSVEPPLSQETFSDLWKLLPENNVLSPLPSQAMDDLML...

In [3]:
# 염기서열 토큰을 추가합니다.
ALL_AAS = 'ACDEFGHIKLMNPQRSTUVWXY'
ADDITIONAL_TOKENS = ['<OTHER>', '<START>', '<END>', '<PAD>', '<SEP>']

# 시퀀스에 추가되는 토큰 수
ADDED_TOKENS_PER_SEQ = 2

# 각 염기서열과 추가 토큰에 대한 인덱스 매핑을 생성합니다.
n_aas = len(ALL_AAS)
aa_to_token_index = {aa: i for i, aa in enumerate(ALL_AAS)}
additional_token_to_index = {token: i + n_aas for i, token in enumerate(ADDITIONAL_TOKENS)}
token_to_index = {**aa_to_token_index, **additional_token_to_index}
index_to_token = {index: token for token, index in token_to_index.items()}
n_tokens = len(token_to_index)

def tokenize_seq(seq):
    """
    시퀀스를 토큰화하여 <START>와 <END> 토큰으로 감싸고, 염기서열을 <SEP>로 연결합니다.
    'WT'는 건너뜁니다.
    """
    other_token_index = additional_token_to_index['<OTHER>']
    sep_token_index = additional_token_to_index['<SEP>']
    
    # 'WT'를 제외한 염기서열을 필터링하여 <SEP>로 구분하여 토큰화합니다.
    tokenized_sequence = [additional_token_to_index['<START>']]
    
    for part in seq:
        if part != 'WT':
            parsed_part = parse_seq(part)
            tokenized_part = [aa_to_token_index.get(aa, other_token_index) for aa in parsed_part]
            tokenized_sequence.extend(tokenized_part + [sep_token_index])
    
    # 마지막 <SEP>을 제거하고 <END> 토큰을 추가합니다.
    if tokenized_sequence[-1] == sep_token_index:
        tokenized_sequence = tokenized_sequence[:-1]
        
    tokenized_sequence.append(additional_token_to_index['<END>'])
    
    return tokenized_sequence

def parse_seq(seq):
    """
    시퀀스의 타입을 확인하여 문자열로 변환합니다.
    """
    if isinstance(seq, str):
        return seq
    elif isinstance(seq, bytes):
        return seq.decode('utf8')
    else:
        raise TypeError('Unexpected sequence type: %s' % type(seq))

In [4]:
# 사용 예시
example_seq = ['WT', 'ACDEFG', 'WT', 'GHIKLM']
tokenized_result = tokenize_seq(example_seq)
print(tokenized_result)

[23, 0, 1, 2, 3, 4, 5, 26, 5, 6, 7, 8, 9, 10, 24]

In [34]:
max(tokenized_result)

26

In [37]:
# Filtered_List 컬럼에 tokenize_seq 함수를 적용하여 Tokenized_Sequence 컬럼을 생성합니다.
df_sequence['Tokenized_Sequence'] = df_sequence['Filtered_List'].apply(tokenize_seq)

In [38]:
df_sequence

,Filtered_List,Tokenized_Sequence
0,[MFKKLKQKISEEQQQLQQALAPAQASSNSSTPTRMRSRTSSFTEQ...,"[23, 10, 4, 8, 8, 9, 8, 13, 8, 7, 15, 3, 3, 13..."
1,[MTAEPMSESKLNTLVQKLHDFLAHSSEESEETSSPPRLAMNQNTD...,"[23, 10, 16, 0, 3, 12, 10, 15, 3, 15, 8, 9, 11..."
2,[MPALRPALLWALLALWLCCAAPAHALQCRDGYEPCVNEGMCVTYH...,"[23, 10, 12, 0, 9, 14, 12, 0, 9, 9, 19, 0, 9, ..."
3,[MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFE...,"[23, 10, 14, 12, 15, 5, 16, 0, 5, 0, 0, 9, 9, ..."
4,[MEEPQSDPSVEPPLSQETFSDLWKLLPENNVLSPLPSQAMDDLML...,"[23, 10, 3, 3, 12, 13, 15, 2, 12, 15, 18, 3, 1..."
...,...,...
6196,[MADGGEGEDEIQFLRTDDEVVLQCTATIHKEQQKLCLAAEGFGNR...,"[23, 10, 0, 2, 5, 5, 3, 5, 3, 2, 3, 7, 13, 4, ..."
6197,[MTAIIKEIVSRNKRRYQEDGFDLDLTYIYPNIIAMGFPAERLEGV...,"[23, 10, 16, 0, 7, 7, 8, 3, 7, 18, 15, 14, 11,..."
6198,[MNQELLSVGSKRRRTGGSLRGNPSSSQVDEEQMNRVVEEEQQQQL...,"[23, 10, 11, 13, 3, 9, 9, 15, 18, 5, 15, 8, 14..."
6199,[MTLDRPGEGATMLKTFTVLLFCIRMSLGMTSIVMDPQPELWIESN...,"[23, 10, 16, 9, 2, 14, 12, 5, 3, 5, 0, 16, 10,..."
6200,[MPPRPSSGELWGIHLMPPRILVECLLPNGMIVTLECLREATLITI...,"[23, 10, 12, 12, 14, 12, 15, 15, 5, 3, 9, 19, ..."

In [39]:
max_length = df_sequence['Tokenized_Sequence'].apply(len).max()
max_length

174930

In [43]:
df_sequence['SUBCLASS'] = df['SUBCLASS']
df_sequence

,Filtered_List,Tokenized_Sequence,SUBCLASS
0,[MFKKLKQKISEEQQQLQQALAPAQASSNSSTPTRMRSRTSSFTEQ...,"[23, 10, 4, 8, 8, 9, 8, 13, 8, 7, 15, 3, 3, 13...",KIPAN
1,[MTAEPMSESKLNTLVQKLHDFLAHSSEESEETSSPPRLAMNQNTD...,"[23, 10, 16, 0, 3, 12, 10, 15, 3, 15, 8, 9, 11...",SARC
2,[MPALRPALLWALLALWLCCAAPAHALQCRDGYEPCVNEGMCVTYH...,"[23, 10, 12, 0, 9, 14, 12, 0, 9, 9, 19, 0, 9, ...",SKCM
3,[MRPSGTAGAALLALLAALCPASRALEEKKVCQGTSNKLTQLGTFE...,"[23, 10, 14, 12, 15, 5, 16, 0, 5, 0, 0, 9, 9, ...",KIRC
4,[MEEPQSDPSVEPPLSQETFSDLWKLLPENNVLSPLPSQAMDDLML...,"[23, 10, 3, 3, 12, 13, 15, 2, 12, 15, 18, 3, 1...",GBMLGG
...,...,...,...
6196,[MADGGEGEDEIQFLRTDDEVVLQCTATIHKEQQKLCLAAEGFGNR...,"[23, 10, 0, 2, 5, 5, 3, 5, 3, 2, 3, 7, 13, 4, ...",LUAD
6197,[MTAIIKEIVSRNKRRYQEDGFDLDLTYIYPNIIAMGFPAERLEGV...,"[23, 10, 16, 0, 7, 7, 8, 3, 7, 18, 15, 14, 11,...",LGG
6198,[MNQELLSVGSKRRRTGGSLRGNPSSSQVDEEQMNRVVEEEQQQQL...,"[23, 10, 11, 13, 3, 9, 9, 15, 18, 5, 15, 8, 14...",COAD
6199,[MTLDRPGEGATMLKTFTVLLFCIRMSLGMTSIVMDPQPELWIESN...,"[23, 10, 16, 9, 2, 14, 12, 5, 3, 5, 0, 16, 10,...",TGCT
6200,[MPPRPSSGELWGIHLMPPRILVECLLPNGMIVTLECLREATLITI...,"[23, 10, 12, 12, 14, 12, 15, 15, 5, 3, 9, 19, ...",SKCM

In [44]:
# 최종 결과를 CSV 파일로 저장
df_sequence.to_csv('../train_data/train_sequence_tok.csv', index=False)
df_sequence.to_pickle('../train_data/train_sequence_tok.pkl')

In [58]:
df_sequence.iloc[1,1].count(26)

2

In [60]:
len(df_sequence.iloc[1,0])

3

In [65]:
check_list = []
idx_list = []
for i in range(len(df_sequence)):
    if df_sequence.iloc[i,1].count(26) + 1 == len(df_sequence.iloc[i,0]):
        check_list.append(False)
    else:
        idx_list.append(i)

In [63]:
len(check_list)

5361

In [64]:
len(df_sequence)

6201

In [71]:
df_sequence.iloc[102,:]

Filtered_List               []
Tokenized_Sequence    [23, 24]
SUBCLASS                  THYM
Name: 102, dtype: object

In [66]:
idx_list

[7,
 18,
 23,
 28,
 35,
 57,
 61,
 66,
 82,
 88,
 93,
 99,
 101,
 102,
 108,
 114,
 115,
 122,
 123,
 124,
 129,
 130,
 133,
 138,
 140,
 149,
 155,
 161,
 163,
 168,
 176,
 200,
 204,
 207,
 214,
 219,
 227,
 235,
 243,
 251,
 254,
 256,
 261,
 265,
 266,
 291,
 293,
 299,
 306,
 311,
 312,
 325,
 329,
 330,
 336,
 349,
 352,
 359,
 365,
 368,
 369,
 378,
 382,
 389,
 397,
 408,
 411,
 412,
 413,
 418,
 422,
 426,
 429,
 432,
 440,
 451,
 453,
 464,
 465,
 475,
 484,
 491,
 501,
 533,
 549,
 551,
 553,
 558,
 566,
 569,
 576,
 584,
 589,
 591,
 594,
 595,
 606,
 610,
 618,
 631,
 632,
 636,
 659,
 660,
 663,
 665,
 671,
 676,
 683,
 689,
 692,
 698,
 707,
 710,
 716,
 726,
 729,
 733,
 750,
 759,
 764,
 768,
 781,
 787,
 788,
 810,
 813,
 815,
 817,
 819,
 825,
 830,
 844,
 853,
 856,
 872,
 879,
 881,
 894,
 895,
 908,
 909,
 913,
 919,
 968,
 973,
 974,
 992,
 995,
 997,
 1003,
 1006,
 1007,
 1028,
 1033,
 1040,
 1049,
 1050,
 1057,
 1071,
 1073,
 1089,
 1092,
 1100,
 1104,
 1121,
 1123,
 1135,
 1137,
 1138,
 1142,
 1143,
 1144,
 1154,
 1163,
 1176,
 1177,
 1194,
 1198,
 1200,
 1206,
 1218,
 1220,
 1251,
 1262,
 1289,
 1296,
 1298,
 1301,
 1303,
 1308,
 1341,
 1351,
 1368,
 1378,
 1381,
 1386,
 1388,
 1416,
 1419,
 1420,
 1425,
 1430,
 1431,
 1444,
 1448,
 1458,
 1459,
 1460,
 1462,
 1480,
 1491,
 1493,
 1501,
 1524,
 1537,
 1555,
 1563,
 1580,
 1583,
 1584,
 1587,
 1591,
 1599,
 1609,
 1610,
 1627,
 1638,
 1648,
 1652,
 1658,
 1668,
 1673,
 1692,
 1693,
 1695,
 1696,
 1700,
 1701,
 1716,
 1718,
 1719,
 1728,
 1732,
 1734,
 1738,
 1748,
 1753,
 1755,
 1759,
 1776,
 1786,
 1801,
 1808,
 1812,
 1824,
 1835,
 1838,
 1849,
 1862,
 1863,
 1875,
 1880,
 1881,
 1884,
 1886,
 1887,
 1901,
 1911,
 1923,
 1936,
 1947,
 1971,
 1981,
 1982,
 1993,
 2000,
 2003,
 2022,
 2032,
 2034,
 2036,
 2039,
 2044,
 2059,
 2062,
 2069,
 2082,
 2088,
 2094,
 2110,
 2117,
 2124,
 2125,
 2139,
 2156,
 2172,
 2180,
 2183,
 2184,
 2199,
 2205,
 2216,
 2221,
 2222,
 2239,
 2246,
 2262,
 2265,
 2267,
 2273,
 2274,
 2283,
 2284,
 2295,
 2303,
 2304,
 2317,
 2325,
 2329,
 2330,
 2339,
 2363,
 2366,
 2374,
 2380,
 2382,
 2395,
 2404,
 2405,
 2407,
 2419,
 2421,
 2426,
 2427,
 2450,
 2453,
 2468,
 2470,
 2473,
 2485,
 2488,
 2493,
 2497,
 2514,
 2515,
 2516,
 2522,
 2529,
 2531,
 2533,
 2537,
 2545,
 2547,
 2557,
 2565,
 2586,
 2600,
 2606,
 2609,
 2613,
 2623,
 2628,
 2629,
 2630,
 2639,
 2646,
 2653,
 2655,
 2658,
 2659,
 2666,
 2673,
 2674,
 2681,
 2692,
 2701,
 2704,
 2710,
 2714,
 2717,
 2721,
 2722,
 2756,
 2760,
 2767,
 2770,
 2773,
 2776,
 2778,
 2787,
 2794,
 2796,
 2797,
 2820,
 2823,
 2824,
 2831,
 2833,
 2852,
 2853,
 2863,
 2865,
 2868,
 2881,
 2895,
 2910,
 2918,
 2937,
 2943,
 2959,
 2972,
 2978,
 2985,
 3000,
 3004,
 3005,
 3006,
 3012,
 3016,
 3030,
 3034,
 3045,
 3048,
 3050,
 3054,
 3055,
 3070,
 3072,
 3082,
 3089,
 3093,
 3100,
 3104,
 3105,
 3108,
 3117,
 3124,
 3127,
 3133,
 3148,
 3180,
 3184,
 3192,
 3194,
 3206,
 3210,
 3218,
 3219,
 3229,
 3241,
 3248,
 3250,
 3251,
 3258,
 3262,
 3269,
 3279,
 3288,
 3302,
 3304,
 3306,
 3319,
 3324,
 3329,
 3344,
 3348,
 3356,
 3369,
 3371,
 3377,
 3387,
 3411,
 3414,
 3419,
 3429,
 3445,
 3448,
 3457,
 3460,
 3461,
 3465,
 3469,
 3473,
 3475,
 3476,
 3482,
 3486,
 3493,
 3513,
 3544,
 3562,
 3564,
 3565,
 3575,
 3583,
 3592,
 3597,
 3598,
 3603,
 3607,
 3613,
 3618,
 3619,
 3629,
 3632,
 3663,
 3668,
 3673,
 3678,
 3681,
 3684,
 3697,
 3707,
 3709,
 3713,
 3721,
 3732,
 3739,
 3742,
 3749,
 3760,
 3768,
 3773,
 3789,
 3814,
 3820,
 3823,
 3826,
 3836,
 3838,
 3850,
 3857,
 3858,
 3866,
 3867,
 3868,
 3869,
 3871,
 3872,
 3881,
 3883,
 3889,
 3895,
 3904,
 3921,
 3926,
 3928,
 3933,
 3934,
 3935,
 3955,
 3960,
 3964,
 3970,
 3974,
 3979,
 3989,
 3990,
 4004,
 4016,
 4020,
 4038,
 4044,
 4046,
 4064,
 4066,
 4071,
 4082,
 4083,
 4093,
 4107,
 4115,
 4118,
 4121,
 4122,
 4123,
 4128,
 4129,
 4130,
 4132,
 4145,
 4156,
 4162,
 4166,
 4168,
 4177,
 4182,
 4194,
 4203,
 4215,
 4234,
 4249,
 4260,
 4261,
 4297,
 4300,
 4304,
 4308,
 4310,
 4314,
 4323,
 4324,
 4338,
 4348,
 4349,
 4350,
 4354,
 4358,
 4360,
 4368,
 4378,
 4389,
 4412,
 4418,
 4421,
 4444,
 4458,
 4462,
 4467,
 4468,
 4471,
 4473,
 4476,
 4499,
 4502,
 4504,
 4512,
 4515,
 4521,
 4526,
 4563,
 4566,
 4572,
 4573,
 4579,
 4598,
 4604,
 4607,
 4617,
 4639,
 4651,
 4655,
 4658,
 4672,
 4686,
 4688,
 4692,
 4696,
 4704,
 4714,
 4738,
 4740,
 4745,
 4747,
 4751,
 4756,
 4778,
 4780,
 4785,
 4787,
 4788,
 4795,
 4798,
 4813,
 4823,
 4832,
 4845,
 4848,
 4849,
 4854,
 4859,
 4866,
 4868,
 4876,
 4879,
 4885,
 4893,
 4895,
 4904,
 4906,
 4909,
 4917,
 4931,
 4936,
 4941,
 4943,
 4947,
 4959,
 4962,
 4973,
 4980,
 4989,
 5014,
 5034,
 5036,
 5048,
 5059,
 5060,
 5063,
 5066,
 5072,
 5079,
 5080,
 5084,
 5088,
 5090,
 5092,
 5096,
 5107,
 5114,
 5138,
 5143,
 5152,
 5156,
 5158,
 5159,
 5160,
 5175,
 5183,
 5188,
 5193,
 5203,
 5206,
 5207,
 5210,
 5212,
 5249,
 5252,
 5275,
 5280,
 5286,
 5290,
 5291,
 5297,
 5330,
 5331,
 5345,
 5354,
 5358,
 5389,
 5406,
 5409,
 5427,
 5431,
 5441,
 5466,
 5468,
 5484,
 5491,
 5510,
 5511,
 5515,
 5516,
 5521,
 5527,
 5529,
 5540,
 5561,
 5574,
 5577,
 5590,
 5591,
 5596,
 5603,
 5616,
 5618,
 5620,
 5625,
 5644,
 5648,
 5658,
 5671,
 5681,
 5708,
 5713,
 5716,
 5718,
 5719,
 5730,
 5739,
 5747,
 5749,
 5773,
 5792,
 5798,
 5804,
 5805,
 5816,
 5820,
 5857,
 5859,
 5871,
 5884,
 5893,
 5903,
 5909,
 5911,
 5919,
 5922,
 5923,
 5934,
 5939,
 5952,
 5961,
 5962,
 5972,
 5981,
 5983,
 5984,
 5989,
 5993,
 5994,
 6000,
 6008,
 6021,
 6041,
 6060,
 6063,
 6066,
 6074,
 6088,
 6095,
 6102,
 6104,
 6105,
 6108,
 6116,
 6134,
 6135,
 6144,
 6147,
 6150,
 6152,
 6170,
 6177,
 6182,
 6184,
 6185,
 6189]